.container.destinations {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.destinations__title {
    color: #343435;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 110px;
    padding: 0;
}
.destinations__subtitle {
    color: #717171;
    font-family: OpenSans;
    font-size: 16px;
    letter-spacing: 0.32px;
    margin: 0;
    margin-top: 30px;
    padding: 0;
}
.destinations__cards {
    margin-top: 83px;
}
.cards {
}
.cards__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.cards-list__item {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    min-height: 360px;
    margin-top: 40px;
    border-radius: 5px;
    list-style: none;
    position: relative;
}
.cards-list__item_big {
    min-width: 786px;
    background-color: coral;
}
.cards-list__item_small {
    min-width: 370px;
    background-color: coral;
}
.cards-list__item > .button_red {
    align-self: flex-start;
    height: 40px;
    padding-right: 15px;
    padding-left: 40px;
    border-radius: 5px;
    position: relative;
    top: 30px;
    left: 30px;
}
.card__text-container {
    margin-left: -60px;
    margin-bottom: 30px;
}
.card__city,
.card__country {
    color: #ffffff;
    text-align: left;
    margin: 0;
    padding: 0;
}
.card__city {
    font-size: 30px;
    line-height: 1.33;
    letter-spacing: 1.2px;
}
.card__country {
    font-size: 20px;
    line-height: 1.5;
}
.destinations .button_white-gray {
    letter-spacing: 0.56px;
    color: #343434;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #717171;
    padding: 20px 43px;
    margin-top: 100px;
    margin-bottom: 80px;
    
}
