.footer {
    position: relative;
    background-color: #404040;
}
.footer::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: rgb(230,68,79);
    background: linear-gradient(-45deg, rgba(230,68,79,1) 10%, rgba(0,2,88,1) 10%, rgba(0,2,88,1) 20%, rgba(230,68,79,1) 20%, rgba(230,68,79,1) 30%, rgba(0,2,88,1) 30%, rgba(0,2,88,1) 40%, rgba(204,61,79,1) 40%, rgba(204,61,79,1) 50%, rgba(0,2,88,1) 50%, rgba(0,2,88,1) 60%, rgba(204,61,79,1) 60%, rgba(204,61,79,1) 70%, rgba(0,2,88,1) 70%, rgba(0,2,88,1) 80%, rgba(204,61,79,1) 80%, rgba(204,61,79,1) 90%, rgba(0,2,88,1) 90%);
}
.footer-section {
    justify-content: space-between;
    align-items: baseline;
    color: #ffffff;
    padding-top: 50px;
}
.footer__top-locations,
.footer__featured-boats {
    margin: 0;
    padding: 0;
}
.top-locations__item,
.featured-boats {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 2.43;
    letter-spacing: 0.56px;
    list-style: none;
}
.top-locations__item__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.57;
  letter-spacing: 0.56px;
}
.form.subscribe-form {
    padding: 0;
    margin: 0;
}
.footer__subscribe-title {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: 0.56px;
}
.subscribe-form__input {
    font-size: 14px;
    text-transform: uppercase;
    width: 250px;
    padding: 20.5px 30px;
    border: none;
    border-radius: 5px;
}
.subscribe-form__input:focus {
    outline: none;
}
.subscribe-form__label > .button_red {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -9px;
    height: 57px;
    top: 1px;
}
.social__icon {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 25px;
    padding: 0;
}
.social__ico__item {
    margin-right: 20px;
    list-style: none;
    width: 60px;
    height: 60px;;
}
.social__ico__item.fb {
    background-image: url('../img/twitter.png');
    background-position: 50%;
    background-repeat: no-repeat;
}
.social__ico__item.tw {
    background-image: url('../img/facebook.png');
    background-position: 50%;
    background-repeat: no-repeat;
}
.social__ico__item.yt {
    background-image: url('../img/google-plus.png');
    background-position: 50%;
    background-repeat: no-repeat;
}
.footer__contact-list {
}