@import url('/Frontend/web-test/nava/css/header.css');
@import url('/Frontend/web-test/nava/css/main_screen.css');
@import url('/Frontend/web-test/nava/css/destination_screen.css');
@import url('/Frontend/web-test/nava/css/own_screen.css');
@import url('/Frontend/web-test/nava/css/featured-boats_screen.css');
@import url('/Frontend/web-test/nava/css/footer.css');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');


body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1200px;

    border-left: 2px dashed greenyellow;
    border-right: 2px dashed greenyellow;
}

.button {
    border: none;
    height: 56px;
}
.button_red {
    background-color: #e7434e;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}